<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <!-- JDBC driver load -->
    <listener>
        <listener-class>configurations.JdbcDriverLoadContextServlet</listener-class>
    </listener>

    <!--servlet.messages-->
    <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>servlets.message.Messages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesSave</servlet-name>
        <servlet-class>servlets.message.MessagesSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForumCategory</servlet-name>
        <servlet-class>servlets.forum.ForumCategory</servlet-class>
    </servlet>

    <!--servlet.messages-->
    <!--/messages-->
    <servlet-mapping>
        <servlet-name>Messages</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <!--/message_save-->
    <servlet-mapping>
        <servlet-name>MessagesSave</servlet-name>
        <url-pattern>/message_save</url-pattern>
    </servlet-mapping>
    <!--/forum_category -->
    <servlet-mapping>
        <servlet-name>ForumCategory</servlet-name>
        <url-pattern>/forum_category</url-pattern>
    </servlet-mapping>

</web-app>